.mainblue{
  background-color: #191F6B;
}
.top{
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 1;
  border: 1px solid red;
}
.mainbluecolor{
  color: #191F6B;
}
.herobgcolor{
  background-color: #F2FFF6;
}
p{
  margin: 0;
}
.boxmail{
  background-color: transparent;
  width: 80%;
  /* padding: 1rem; */
  /* font-size: 1rem; */
  border: none;
}
input[type="email"] {
  outline: none;
}
.circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
}
.view{
  border: 1px solid #191F6B;
}
.cv{
  border: 1px solid #191F6B;
}

.career {
  padding-top: 5.5rem;
  height: 350px;
  /* background-image: linear-gradient(to top, #1F234E , yellow); */
  background-image: linear-gradient(#321F234E, white   , #321F234E);
}
.point, .points{
  cursor: pointer;
  transition: all linear .5s;
}
.point:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.points:hover{
  transform: scale(1.15);
}
.grcolor{
  color: #9C9C9C;
}
.height{
  height: 240px;
  overflow: hidden;
}
/* .mar{
  margin-top: -100px;
} */
a{
  text-decoration: none;
  
  /* color: white; */
  /* color: #191F6B; */
}
.heisd{
  height: 22rem;
  /* border: 1px solid red; */
  overflow: hidden;
}
li{
  list-style: none;
  
}
a li{
  color: white; 
}
.hei{
  width: 60%;
  /* border: 1px solid red; */
}
.lastfoot{
  background-color: #131126;
}
.svg{
  height: 30px;
  width: 30px;
}
.ham-menu{
  position: relative;
  display: inline-block;
}
.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  /* width: fit-content; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links a{
  display: block;
  padding: 10px;
  /* text-align: center; */
  /* font-size: 1.5rem; */
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links.show{
  max-height: 300px;
}
.menu{
  display: none;
}
.menu-links{
  display: none;
}
.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  /* width: fit-content; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links a{
  display: block;
  padding: 10px;
  /* text-align: center; */
  /* font-size: 1.5rem; */
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links.show{
  max-height: 300px;
}
@media (max-width: 768px) {
  .heisd{
    height: 16rem;
    overflow: hidden;
  }
}
@media (max-width: 510px) {
  .small-hero{
    height: 285px;
    width: 280px;
  }
  
}
@media (max-width: 993px) {
  /* nav, .donate{
      display: none;
  } */
  .register{
      display: none;
  }
  .top{
    position: static;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 1px solid red;
  }
  .menu{
      display: block;
      cursor: pointer;
      color: black;
  }
  .menu-links{
      display: block;
  }
}
